$color-green: #30d46f;
$color-green-light: #284f5b;
$color-red: #f34444;
$color-red-light: #553a50;
$color-white: #ffffff;
$color-gray: #8a8a8a;

$color-background: #2c374d;
$color-background-light: #18294b;
