.orders {
  padding: 8px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.divider {
  margin-bottom: 10px;
}

.buy {
  height: 328px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
}

.sell {
  height: 320px;
}

