* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-color: #4E5F71 transparent;
  scrollbar-width: thin;
}

body {
  // min-height: 100vh;
  // background-color: #2c374d;
}

.recharts-wrapper {
  position: absolute !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: rgba(78, 95, 113, 0.3);
}

::-webkit-scrollbar-thumb {
  background: #4E5F71;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6c839c;
}

::-webkit-scrollbar-corner {
  display: none;
}
