* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-color: #556cd6 transparent;
  scrollbar-width: thin;
}

body {
  // min-height: 100vh;
  // background-color: #2c374d;
}

.recharts-wrapper {
  position: absolute !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #2c374d;
}

::-webkit-scrollbar-thumb {
  background: #556cd6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #18294b;
}

::-webkit-scrollbar-corner {
  display: none;
}