.layout {
  display: grid;
  padding: 15px;
  gap: 15px;
  grid-template-columns: 300px 1fr 300px;
  // grid-template-rows: 60px 270px max-content 200px; //for visualization only
  grid-auto-rows: minmax(max-content, 300px);
  grid-template-areas:
    "navbar navbar navbar"
    "order candlestick form"
    "order depth market"
    "open open market";

  @include media("<lg") {
    grid-template-columns: repeat(2, 1fr) 300px;
    grid-template-areas:
      "navbar navbar navbar"
      "candlestick candlestick form"
      "order market form"
      "depth depth form"
      "open open open";
  }

  @include media("<md") {
    grid-template-areas:
      "navbar navbar navbar"
      "candlestick candlestick form"
      "order order form"
      "market market form"
      "depth depth form"
      "open open open";
  }

  @include media("<sm") {
    grid-template-columns: 1fr;
    grid-template-areas:
      "navbar"
      "form"
      "candlestick"
      "order"
      "market"
      "depth"
      "open";
  }

  & > *{
    background-color: red;
    border-radius: 4px;
  }
}

.navbar {
  grid-area: navbar;
  background-color: #13e262;
}

.orders {
  grid-area: order;
  background-color: $color-background-light;
}

.candlestick {
  grid-area: candlestick;
  // background-color: #e213a4;
  width: 100%;
}

.form {
  grid-area: form;
  background-color: #e25f13;
}

.depth {
  grid-area: depth;
  background-color: $color-background-light;
}

.market {
  grid-area: market;
  background-color: #3213e2;
}

.open {
  grid-area: open;
  background-color: #cce269;
}
