.layout {
  display: grid;
  padding: 15px;
  gap: 15px;
  grid-template-columns: 350px 1fr 400px;
  grid-template-rows: auto max-content 1fr;
  grid-template-areas:
    "navbar navbar navbar"
    "order candlestick form"
    "order depth market"
    "open open market ";

  @include media("<lg") {
    grid-template-columns: repeat(2, 1fr) 400px;
    grid-template-rows: auto;
    grid-template-areas:
      "navbar navbar navbar"
      "candlestick candlestick form"
      "order market form"
      "depth depth form"
      "open open open";
  }

  @include media("<md") {
    grid-template-areas:
      "navbar navbar navbar"
      "candlestick candlestick form"
      "order order form"
      "market market form"
      "depth depth form"
      "open open open";
  }

  @include media("<sm") {
    grid-template-columns: 1fr;
    grid-template-areas:
      "navbar"
      "form"
      "candlestick"
      "order"
      "market"
      "depth"
      "open";
  }

  & > * {
    border-radius: 5px;
  }
}

.navbar {
  grid-area: navbar;
}

.orders {
  grid-area: order;
  background-color: $color-background-light;
}

.candlestick {
  grid-area: candlestick;
  min-height: 470px;
  width: 100%;
}

.form {
  grid-area: form;
}

.depth {
  grid-area: depth;
  background-color: $color-background-light;
  min-height: 300px;
  padding: {
    top: 20px;
    left: 20px;
  }
}

.market {
  grid-area: market;
}

.open {
  grid-area: open;
  width: 100%;
  overflow: hidden;
}
