.option {
  // background-color: $color-background-light;
}

.underlying_label {

}

.underlying_icon {
  z-index: 10;
}

.accounting_icon {
  margin-left: -16px;
  margin-right: 16px;
}

.accounting_label {
  color: rgb(174, 174, 174);
}

.slash{
}