.order {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-white;
  padding: 8px 12px;

  &:not(:last-child) {
    margin-bottom: 1px;
  }

  &[data-type="sell"] {
    .background {
      background-color: $color-red-light;
    }

    .value {
      color: $color-red;
    }
  }

  & > * {
    z-index: 10;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 0;
  background-color: $color-green-light;
}

.value {
  color: $color-green;
}

.flick {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.winking {
  animation: winking 0.25s infinite;
}

@keyframes winking {
  from {
    background: rgba(255, 255, 255, 0.2);
  }
  to {
    background: transparent;
  }
}
