.navbar {
  justify-content: space-between;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include media("<sm") {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}

.select {
  width: 350px;
  @include media("<sm") {
    width: 320px;
  }
}
