.row {
  display: flex;
  justify-content: space-between;
  padding-inline: 10px;
  padding-block: 5px;
  border-radius: 3px;
  transition: all 0.25s;
  &:hover {
    background: #ffffff45;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-top: 32px;
}

.response {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
